* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    padding: 50px;
    align-items: center;
}

.arrow {
    font-size: 30px;
    cursor: pointer;
}

.slider {
    width: 300px;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
}

.slides {
    display: flex;
    position: relative;
    right: 0;
    transition: right .3s;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    color: slategray;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid plum;
}